* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

.theme{
    background-color: rgb(235, 240, 248);
    height: 100vh;
    display: flex;
    justify-content:space-around ; 
    padding-left: 100px; 

   padding-right: 50px; 
  
    
}


.top{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.top h1{
    font-weight: 300;
}

.top p{
    font-size: 12px;
    padding-top: 10px;
}

button{
    background-color: rgb(122, 122, 246);
    color: white;
    border: none;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 30px;
    width: 150px;
}

.cards{
    display: flex;
    gap: 20px;
   
}

.card{
    background-color: white;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.card p{
    font-size: 12px;
    padding-top: 10px;
}


